params {
    out_dir = "output"
    omit_unrepresented_groups = true
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        params.groups = "${projectDir}/assets/NO_FILE"
        process {
            withLabel: faprotax {
                container = "ghcr.io/danpal96/faprotax:1.2.12"
            }
            withLabel: miller {
                container = "ghcr.io/danpal96/miller:6.15.0"
            }
        }
    }
}

plugins {
    id 'nf-schema@2.6.1'
}

validation {
    help {
        enabled = true
    }
}

manifest {
    name = 'danpal96/wf-faprotax'
    author = 'Daniel Esteban Palma Igor'
    homePage = 'https://github.com/danpal96/wf-faprotax'
    description = 'Workflow to run FAPROTAX'
    mainScript = 'main.nf'
    nextflowVersion = '>=23'
    version = 'v0.1.0'
}
