params {
    out_dir = "output"
    omit_unrepresented_groups = true
}

profiles {
    docker {
        docker.enabled = true
        params.groups = "${projectDir}/assets/NO_FILE"
        process {
            withLabel: faprotax {
                container = "ghcr.io/danpal96/faprotax:1.2.12"
            }
            withLabel: miller {
                container = "ghcr.io/danpal96/miller:6.15.0"
            }
        }
    }
}

plugins {
    id 'nf-schema@2.6.1'
}

validation {
    help {
        enabled = true
    }
}
